// --------------------------------------------------
// Colors & Values
// 
// --------------------------------------------------

$white:         #FFFFFF;
$black:         #000000;
$dark-red:      #69091c;
$red:           #8f0c2b;
$rose:          #AE7581;
$light-grey:    #F2F2F2;
$light-green:   #C3D973;