// --------------------------------------------------
// Colors & Values
// 
// --------------------------------------------------

$white:         #FFFFFF;
$darkest-red:   #26020C; /* 64, 5, 21 */
$dark-red:      #400515; /* 38, 2, 12 */
$red:           #734854; /* 115, 72, 84 */
$light-grey:    #F2F2F2; /* 242, 242, 242 */
$light-green:   #C3D973; /* 195, 217, 115 */