@import "shared/_flexbox";
@import "shared/_variables";

@import url('https://fonts.googleapis.com/css?family=Rajdhani');

/* GENERAL STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: $light-grey;
  font-size: 18px;
}

p {
  margin: 0 0 10px 0;
}
a{
  color: $red;
}

h1, h2, h3{
	text-transform: uppercase;
}

.header{
  background-image: url('../img/headerImg.png');
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 600px;
  height: 236px;
}

.navbar{
  margin-top: -42px;

  .navbar__desktop{
    display:none;
  }

  /* mobile nav menu */
  .navbar__mobile{

    .burger{
      background-color: $rose;
      color: $white;
      width: 40px;
      height: 23px;
      padding: 18px 10px;

    }
  }
}

.content{
  padding: 0px 20px;
}

.footer{
  @include flexbox();
  @include justify-content(space-evenly);
  background-color: $dark-red;
  color: $white;
  margin-top: 100px;
}

/* CONTENT */
.about{
	.about__image{
      img{
        position: relative;
        z-index: 1;
        max-width:100%;
        height:auto;
        float: left;
      }

	}
	.about__labels{
      display: inline-block;
      margin: 90px 0 0 -50px; /* TODO: responsiv machen */

      .label{
        position: relative;
        z-index: 2;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-bottom: 15px;
      }

	}
}
.cv{
  .row{
    @include flexbox();
    @include flex-direction(column);
    margin-bottom: 20px;
  }
  .col1{
    font-weight: bold;
  }

}


/* ---------------- STRUCTURE ---------------- */
.header, .footer {
  padding: 10px;
}

.main {
  @include flexbox();
  @include flex-direction(column);
}

@media screen and (min-width: 600px) {
  .main {
  	@include flex-direction(row);
  }

  .content {
    @include flex(1);
  }
}
/* -------------- STRUCTURE END -------------- */



/* MEDIA QUERIES */


@media (min-width: 600px){

  .header{
    background-size: 100%;
    height: 250px;
  }

  .content{
    padding: 20px 50px;
  }

  .navbar {
    margin-top: 0px;
    .navbar__desktop{
      display: block;
      margin-top: -170px;
      width: 135px;
      padding: 20px;

      a{
        @include align-items(center);
        @include flexbox();
        font-size: 18px;
        background-color: $light-green;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
        color: $black;
        text-decoration: none;
      }
    }

    .navbar__mobile{
      display: none;
    }
  }

}

@media (min-width: 800px){
  .content{
    padding: 80px 110px;
  }


  /* CONTENT */
  .cv{
    .row{
      @include flex-direction(row);
    }
    .col1{
      @include flex(1 220px);
    }
    .col2{
      @include flex(1 100%);
    }
  }
}

@media (min-width: 800px){
  .content{
    padding: 30px 50px;
  }
}

@media (min-width: 1000px){
  .content{
    padding: 80px 110px;
  }
}