@import "shared/_flexbox";
@import "shared/_variables";
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

/* GENERAL STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: $light-grey;
  font-size: 18px;
}

p {
  margin: 0 0 10px 0;
}
a{
  color: $red;
  cursor: pointer;
}

h1, h2, h3{
	text-transform: uppercase;
}

.header{
  position: relative;
  background-image: url('../img/headerImg.png');
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 600px;
  height: 226px;

  .header__changeLangBtn{
    position: absolute;
    right: 50px;
    top: 300px;
  }

}

.navbar{
  margin-top: 0px;

  .show-menu {
    @include flexbox();
    width: 75px;
    height: 75px;
    background-color: $rose;
    color: $white;
    text-align: center;
    @include align-items(center);
    @include justify-content(center);
    font-size: 22px;
  }

  ul{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 10px 20px;
    background-color: $light-green;
    visibility: hidden;
    max-height: 0px;
    opacity:0;
    -webkit-transition:opacity 200ms ease-in, max-height 200ms ease-in;
    -moz-transition:opacity 200ms ease-in, max-height 200ms ease-in;
    -o-transition:opacity 200ms ease-in, max-height 200ms ease-in;
    transition:opacity 200ms ease-in, max-height 200ms ease-in;

    li{
      width: 100%;
      font-size: 22px;
      border-bottom: 1px solid $black;
      text-align: center;

      a{
        width: 100%;
        text-decoration: none;
        color: $black;
        display: block;
        padding: 20px 0;
      }

      &:last-child{
        border: 0;
        margin-bottom: 0;
      }
    }
  }
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox]:checked ~ #menu{
    /*display: block;*/
    visibility: visible;
    max-height: 800px;
    opacity: 1;

  }
}

.content{
  padding: 0px 20px;
  min-height: 550px;
}

.footer{
  @include flexbox();
  @include justify-content(space-evenly);
  background-color: $dark-red;
  margin-top: 100px;
  padding: 40px 20px;

  ul{
    list-style-type: none;
    padding-left: 0px;
    @include flexbox();

    li{
      margin: 0 20px;
      a{
        color: $white;
      }
    }
  }

}

/* CONTENT */
.about{
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

	.about__image{
      img{
        position: relative;
        z-index: 1;
        max-width:100%;
        height:auto;
        float: left;
      }

	}
	.about__labels{
      display: inline-block;
      margin: 40px 0 0 0;
      width: 100%;

      .label{
        position: relative;
        z-index: 2;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-bottom: 15px;
      }
	}
}

.cv{
  .row{
    @include flexbox();
    @include flex-direction(column);
    margin-bottom: 20px;
  }
  .col1{
    font-weight: bold;
  }
}


/* ------------------------- STRUCTURE ------------------------- */

.main {
  @include flexbox();
  @include flex-direction(column);
}

.text{
  @include align-self(flex-start);
  padding: 20px 0;
  display: block;
  clear: both;
}

.section{
  margin: 20px 0px;
}
/* ----------------------- STRUCTURE END ----------------------- */



/* ----------------------- MEDIA QUERIES ----------------------- */

@media (min-width: 600px){
  .main {
    @include flex-direction(row);
  }

  .content {
    @include flex(1);
    padding: 20px 30px;

  }

  .header{
    background-size: 100%;
    height: 250px;
  }

  .text{
    padding: 30px 0;
  }

  .navbar {
    margin-top: -100px;

    #show-menu{
      display:none;
    }
    .show-menu {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: #fff;
      background: #19c589;
      text-align: center;
      padding: 10px 0;
      display: none;
    }

    ul {
      display: block;
      visibility: visible;
      opacity: 1;
      background-color: transparent;

      li {
        display:block;
        border: 0;
        padding: 0;

        a {
          @include align-items(center);
          @include flexbox();
          font-size: 18px;
          background-color: $light-green;
          height: 95px;
          width: 95px;
          padding: 15px;
          margin-bottom: 10px;
          color: $black;
          text-decoration: none;
        }
      }
    }

  }

  /* CONTENT */
  .about{
    display: block;

    @include flex-direction(column);
    .about__image img{
      width: 220px;
    }
    .about__labels {
      margin: 10px 0 0 -50px;
      width: unset;
    }
  }
}


@media (min-width: 800px){
  .content{
    padding: 80px 110px;
  }
  .text{
    padding: 50px 0;
  }

  /* CONTENT */
  .cv{
    .row{
      @include flex-direction(row);
    }
    .col1{
      @include flex(1 220px);
    }
    .col2{
      @include flex(1 100%);
    }
  }

  .about{
    .about__image img{
      width: unset;
    }
    .about__labels {
      margin: 90px 0 0 -50px;
    }
  }
}

@media (min-width: 800px){
  .content{
    padding: 30px 50px;
  }
}

@media (min-width: 1000px){
  .content{
    padding: 80px 110px;
  }
}

@media (min-width: 1400px){
  .about{
  }
}