<footer class="footer">
    <ul>
        <li><%= link_to 'Impressum', '../templates/impressum.html' %></li>
        <li><%= link_to 'Show project on Github', 'https://github.com/vnssdml/vanessa-demel.de', target: :_blank %></li>
    </ul>
</footer>