<nav class="navbar">
	

<%= link_to 'About', '../templates/about.html' %>
<%= link_to 'Projects', '../templates/projects.html' %>
<%= link_to 'Iceland Blog', 'http://www.semesteriniceland.com', target: :_blank %>
<%= link_to 'Github', '../templates/github.html' %>


</nav>