---
title: About
---


<div class="about">
    <div class="about__image">
        <%= tag :img, :src => "../img/aboutImg.png" %>
    </div>
    <div class="about__labels">
        <div class="label">Vanessa Demel</div>
        <div data-translate="ABOUT_HOWOLD" class="label"></div>
        <div data-translate="ABOUT_STUDENT" class="label"></div>
        <div data-translate="ABOUT_WEBDEVELOPER" class="label"></div>
        <div data-translate="ABOUT_WHATILOVE" class="label"></div>
    </div>

    <div class="text">
        <div class="section" data-translate="ABOUT_SECTION1"></div>
    </div>

</div>
