---
title: About
---


<div class="about">
    <div class="about__image">
        <%= tag :img, :src => "../img/aboutImg.png" %>
    </div>
    <div class="about__labels">
        <div class="label">Vanessa Demel</div>
        <div class="label">27 years</div>
        <div class="label">Student</div>
        <div class="label">Webdeveloper</div>
        <div class="label">♥ sports & creative stuff</div>
    </div>

    <!--div class="text">
        <div class="section">
            text
        </div>
        <div class="section">
            text
        </div>
        <div class="section">
            text
        </div>
    </div-->

</div>
