---
title: Curriculum Vitae
---

<div class="cv">
    <p>(German Version)</p>

    <h2 data-translate="CV_h_school">Schulische Ausbildung</h2>
    <div class="row">
        <div class="col col1">seit 2015</div>
        <div class="col col2">Hochschule Darmstadt, Studiengang Informatik (M.Sc.)</div>
    </div>
    <div class="row">
        <div class="col col1">2011 - 2015</div>
        <div class="col col2">
            Hochschule Darmstadt, Studiengang Informatik (B.Sc.)
            <br>
            Thema: Untersuchung und Bewertung von Mobile Application Frameworks für die Entwicklung plattformunabhängiger Apps
        </div>
    </div>
    <div class="row">
        <div class="col col1">2008 - 2010</div>
        <div class="col col2">Theodor-Heuss-Schule, Fachoberschule (Fachabitur), Offenbach a.M.</div>
    </div>
    <div class="row">
        <div class="col col1">2006 - 2008</div>
        <div class="col col2">
            Georg-Kerschensteiner-Schule, Obertshausen
            <br>
            Zweijährige Höhere Berufsfachschule (Staatlich geprüfte kaufmännische Assistentin Schwerpunkt Fremdsprachensekretariat)
        </div>
    </div>

    <h2>Berufserfahrung</h2>
    <div class="row">
        <div class="col col1">2015</div>
        <div class="col col2">
            3-monatige Praxisphase im Rahmen der Bachelorarbeit bei Bohm Nonnen Urhahn Gmbh in Darmstadt
        </div>
    </div>
    <div class="row">
        <div class="col col1">2014 - 2016</div>
        <div class="col col2">Werkstudent bei Bohm Nonnen Urhahn Gmbh in Darmstadt</div>
    </div>
    <div class="row">
        <div class="col col1">2009</div>
        <div class="col col2">Bürokauffrau bei Lafarge Roofing in Heusenstamm</div>
    </div>

    <h2>Sonstige Erfahrungen</h2>
    <div class="row">
        <div class="col col1">2017</div>
        <div class="col col2">
        Auslandssemester im Rahmen des Masterstudiums an der Reykjavík University, Island
        </div>
    </div>

    <h2>Kenntnisse</h2>

    <div class="row">
     <div class="col col1">Sprachen</div>
     <div class="col col2">Deutsch (Muttersprache), Englisch (B2/C1), Spanisch (A1)</div>
    </div>
    <div class="row">
     <div class="col col1">EDV</div>
     <div class="col col2">
     MS-Office (Word, Excel, PowerPoint, Access), Photoshop, GIMP, Content-Management-Systems, Version Controlling mit Git</div>
    </div>
    <div class="row">
     <div class="col col1">Programmierung</div>
     <div class="col col2">HTML, JavaScript, CSS, LESS/SASS, ASP, SQL, NoSQL, Angular 1+2, Node.js</div>
    </div>

    <h2>Interessen und Hobbys</h2>
    Fitness und Mannschaftssport, Kreatives (Stricken, Backen, Malen, Bildbearbeitung),
    Social Media (Facebook, Instagram)
</div>