---
title: Iceland Blog
---

<p>Get an impression of our time in Iceland from Dec '16 to Aug '17.</p>
<p>Pictures say more than a thousand words.</p>

Go to <%= link_to 'Iceland Blog', 'http://www.semesteriniceland.com', target: :_blank %>!
