---
title: Random Stuff
---

<div class="random">

<p data-translate="RANDOM_INTRO"></p>

<h2>Music</h2>
<p data-translate="RANDOM_MUSIC"></p>
<iframe id='AmazonMusicEmbed0c9a4aee7c23412bb425c0fb3958e82fdede' src='https://music.amazon.de/embed/0c9a4aee7c23412bb425c0fb3958e82fdede/?id=ruznd3M5aI&marketplaceId=A1PA6795UKMFR9&musicTerritory=DE' width='100%' height='550px' style='border:0;'></iframe>
</div>