---
title: Welcome
---



<p>Was gibt es hier zu sehen?</p>
<p>Alles was mit Vanny zu tun hat!</p>
<p>Du hast Fragen? Schreib mir doch eine <%= mail_to 'vnssdml@googlemail.com', "E-Mail" %> oder kontaktiere mich über <%= link_to 'Facebook', "https://www.facebook.com/supercalifragilistig3xpialigetisch", target: :_blank %></p>

